fastapi
uvicorn
pdfplumber
requests
python-multipart  
fastapi
uvicorn
requests
pydantic
langchain
langchain-huggingface
python-dotenv
streamlit
requests
python-dotenv
fastapi
uvicorn
pydantic
langchain
langchain-huggingface
faiss-cpu
sentence-transformers
python-dotenv